html, body{
  background-color: #5792BA;
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  //overflow: hidden;
  padding: 0;
}

.map{
  box-sizing: border-box;
  font-size: 40px;
  height: 100vh;
  overflow: scroll;
  position: relative;
  width: 100vw;
}

.grid{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.grid > .square{
  border: 0.025em #5792BA solid;
  box-sizing: border-box;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0;
  width: 1em;
}

.grid > .square:hover{
  //background-color: rgba(255, 255, 255, 0.25);
  //cursor: pointer;
}

.chamber{
  background-color: #eee;
  border: 0.1em #5792BA solid;
  box-sizing: border-box;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0;
  width: 1em;
}

.chamber-number{
  color: #5792BA;
  font-weight: bold;
  height: 1em;
  left: 0;
  line-height: 0.95em;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1em;
}

.chamber-number > p{
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

.passage{
  background-color: #eee;
  box-sizing: border-box;
  position: absolute;
  width: 0.4em;
  z-index: 10;
}

.passage.north, .passage.south{
  transform: translate(-50%, -50%) rotate(270deg);
}

.passage.east, .passage.west{
  transform: translate(-50%, -50%);
}

.passage.open{
  height: 0.8em;
  z-index: 0;
}

.passage.open > span{
  border-left: 0.05em #5792BA solid;
  box-sizing: border-box;
  height: 100%;
  margin: 50%;
  width: 0;
}

.passage.door{
  border: 0.05em #5792BA solid;
  height: 0.5em;
}

.passage.door.secret{
  background-color: transparent;
  border: none;
}

.passage.door.secret > p{
  background-color: #eee;
  border-radius: 0.25em;
  color: #5792BA;
  font-size: 70%;
  height: 70%;
  line-height: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
